<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Crud With Thymleaf</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>
    <body>
       <div class="container">
           <div class="row text-xs-center">
               <h1>Welcome To Learn</h1>
           </div>
           <div class="row">
                 <form th:action="@{/login}" th:object="${'user'}" method="post" style="width: 100%">
                     <div class="col-md-6">
                         <label class="form-label"> User Name
                             <input type="text" id="userName" name="userName" class="form-control" placeholder="User name"/>
                         </label>
                     </div>
                     <div class="col-md-6">
                         <label class="form-label"> Password
                             <input type="text" id="password" name="password" class="form-control" placeholder="Password"/>
                         </label>
                     </div>

               <div class="col-md-12">
                   <input type="submit" class="btn btn-sm btn-success" value="Submit"></input>
               </div>
               </form>
           </div>
       </div>
    </body>
</html>